#############################
# IntelliJ IDEA
#############################
.idea/
*.iml
*.ipr
*.iws

#############################
# Compiled classes
#############################
*.class

#############################
# Logs
#############################
*.log

#############################
# OS Files
#############################
.DS_Store
Thumbs.db

#############################
# Maven
#############################
target/

#############################
# Gradle
#############################
.gradle/
build/

#############################
# Other
#############################
out/
